body {
    background-image: url(pink_rice.png);
}

.navbar {
    border-bottom: 2px solid #ffffff;
    margin: 20px;
}

.container {
    background-color: pink;
}

.footer {
    background-color: gray;
    padding-top: 50px;
    text-align: center;
    border-top: 10px solid teal;
    margin: 0 10px;
}